* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.main-section {
  min-height: 100vh;
}

/* Navbar */
.navbar {
  background: transparent;
  height: 6vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
  color: rgb(221, 221, 221);
}

.navbar .nav-line {
  background: linear-gradient(to right, rgb(40, 40, 40), rgb(50, 50, 50));
  height: 20%;
}

.navbar .navbar-list {
  background: linear-gradient(to top, rgb(40, 40, 40), rgba(50, 50, 50, 1));
  display: flex;
  height: 100%;
  width: 36%;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: 30px;
  border-radius: 6px;
  margin-top: -12px;
}

.navbar .navbar-list a {
  text-decoration: none;
  font-weight: 500;
  color: rgb(196, 196, 196);
}
.navbar .navbar-list .navbar-item {
  height: 100%;
  padding: 10px;
  border-radius: 6px;
}
.navbar .navbar-list .navbar-item:hover {
  background: rgba(10, 10, 10, 0.8);
  transition: 0.3s linear;
}

.navbar .navbar-item:hover a,
.navbar .navbar-item:hover i {
  transition: 0.1s linear;
  color: rgb(39, 241, 32);
  text-shadow: 0 0 3px rgb(39, 241, 32);
}
/* Welcome section */

#welcome-section {
  background: linear-gradient(to top right, rgb(25, 25, 25), rgb(0, 0, 0));
  padding-top: 6vh;
  position: relative;
}

.greeting-container {
  background: transparent;
  color: rgb(39, 241, 32);
  width: 50%;
  height: 30%;
  position: absolute;
  top: 40%;
  left: 15%;
  font-family: monospace;
}

.greeting-container h2 {
  color: rgb(196, 196, 196);
  font-size: 2rem;
  padding: 12px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.blink-container {
  display: flex;
  align-items: center;
}

.blink-marker {
  position: relative;
  width: 6px;
  height: 90px;
  background: rgb(39, 241, 32);
  opacity: 0;
  animation: blink 1.4s steps(3) infinite;
}
.greeting-container h1 {
  font-size: 6rem;
  width: 0rem;
  position: relative;
  overflow: hidden;
  animation: typing 0.7s steps(3) 3s forwards;
}

@keyframes blink {
  0%,
  65% {
    opacity: 1;
  }
  66%,
  100% {
    opacity: 0;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 9.5rem;
  }
}

/* Projects section*/

#projects {
  background: linear-gradient(45deg, rgb(30, 30, 30), rgb(70, 70, 70));
  position: relative;
}

.project-text {
  height: 40%;
  width: 40%;
  position: absolute;
  top: 10%;
  left: 15%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  line-height: 1.8;
  color: rgb(221, 221, 221);
}

.project-text h2,
.contact-text h2 {
  font-size: 2.4rem;
  font-family: sans-serif;
}

.project-text h3,
.contact-text h3 {
  font-size: 1.6rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
}

.tile-border {
  background: radial-gradient(
    rgb(60, 60, 60),
    rgb(30, 30, 30),
    rgba(221, 221, 221, 0.5)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 33vh;
  width: 39vh;
  position: absolute;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  transition: 1.2s ease;
}

.tile-border:hover {
  /* background: radial-gradient(
    rgb(30, 30, 30),
    rgb(0, 0, 0),
    rgba(60, 60, 60, 0.5)
  ); */
  background: linear-gradient(to top, rgba(39, 241, 32, 0.5), transparent 80%);
}

.project-tile {
  background: rgb(40, 40, 40);
  height: 30vh;
  width: 36vh;
  position: relative;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

.project-tile-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: linear-gradient(
    to top,
    rgba(30, 30, 30, 0.6) 10%,
    rgba(30, 30, 30, 0.8),
    rgba(30, 30, 30, 1)
  ); */
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0%;
  z-index: 2;
  opacity: 0;
  transition: ease 0.5s;
  cursor: pointer;
  font-family: "Courier New", Courier, monospace;
  color: rgb(221, 221, 221);
}

.project-tile-overlay:hover {
  color: rgb(39, 241, 32);
  opacity: 1;
  transition: 1.5s;
}
.project-tile h3 {
  position: absolute;
  bottom: 15%;
}

.project-tile-overlay p {
  margin-top: 5vh;
  width: 50%;
  text-justify: auto;
  color: rgb(221, 221, 221);
  font-family: sans-serif;
  display: none; /*prototyping */
}
.tile-border:nth-child(4) {
  right: 5%;
  bottom: 35%;
}

.tile-border:nth-child(3) {
  left: 50%;
  bottom: 5%;
}

.tile-border:nth-child(2) {
  left: 30%;
  bottom: 20%;
}

.tile-border:nth-child(1) {
  left: 10%;
  bottom: 5%;
}

.project-tile svg {
  width: 50%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 25%;
  object-fit: cover;
  /* filter: grayscale(100%); */

  transition: linear 0.2s;
}
.project-tile:hover svg {
  transform: translateY(-20%);
}

.project-tile svg path {
  stroke-dasharray: 2020;
  stroke-dashoffset: 0;
  fill: transparent;
  stroke-width: 6px;
  stroke: rgb(39, 241, 32);
}

.project-tile:hover svg path {
  animation: cyber 1.4s ease-out forwards;
}

@keyframes cyber {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 2020;
  }
  80% {
    stroke-dashoffset: 4040;
    fill: transparent;
  }
  100% {
    stroke-dashoffset: 4040;
    fill: rgb(39, 241, 32);
  }
}

/* Contact section*/
#contact {
  background: linear-gradient(to top right, rgb(25, 25, 25), rgb(0, 0, 0));
  height: 100vh;
  position: relative;
}

.contact-text {
  color: rgb(221, 221, 221);
  height: 20%;
  width: 40%;
  position: absolute;
  top: 10%;
  left: 15%;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  line-height: 1.8;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 60%;
  width: 50%;
  position: absolute;
  top: 30%;
  left: 15%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.contact-form label {
  color: rgb(221, 221, 221);
}
.contact-form input,
.contact-form textarea {
  width: 90%;
  height: 2rem;
  border: none;
  border-radius: 6px;
  padding: 6px;
  margin: 1.2rem;
}

.contact-form textarea {
  height: 30vh;
}

.contact-link-container {
  height: 60%;
  width: 20%;
  position: absolute;
  top: 30%;
  right: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.contact-link-container h4 {
  display: flex;
  align-items: center;
  margin-right: auto;
  margin-left: 5%;
  flex: 1;
  color: rgb(221, 221, 221);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 200;
  font-size: 1.4rem;
}

.contact-link-list {
  flex: 2;
}
.contact-link-list li {
  list-style: none;
  padding: 12px;
}

.contact-link-list a {
  text-decoration: none;
  color: rgb(39, 241, 32);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
}
.contact-text span {
  font-family: sans-serif;
  font-size: 1.6rem;
  color: rgb(39, 241, 32);
}

.contact-section h2 {
  padding: 5vh 0;
}

/* Footer */
footer {
  background: rgb(60, 60, 60);
}

/* Media queries */

@media (max-width: 688px) {
  html {
    font-size: 55%;
  }
}

/* @media (max-width:992px){
  
} */
